/*
 * CSS styleshet for the "Sonic Black" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 * Modified By: G M Slater (occurrencesinrain[at]cox.net)
 *
 */

@import "sonic.css";

/* The primary background colour. */
.bgcolor1 {
    background-color: #1E0F15;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #1E0F15;
    color: #E2E2E2;
}

.bgcolor3 {
    background-color: #2C2C2C;
}

/* Background colour for selected header, log etc. */
/*.headerSelected {
    color: #E2E2E2;
    background-color: #1E0F15;
    border: 1px solid #E2E2E2;
}*/

/* The primary foreground colour. */
/*body {
    color: #E2E2E2;
    background-color: #DDDDDD;
}*/

html, body {
    background-color: #1E0F15;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #E2E2E2;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr, span {
    color: #E2E2E2;
}

/* Table sizing */
table {
    margin: 0 0 0 0;
}

/* Main frame image & colour */
.mainframe {
    background-color: #1E0F15;
    background-position:right;
}


/* Back image */
/*.back {
    background-image:url( "../icons/aldebron/back.png" );
}*/

/* Forward image */
/*.forward {
    background-image:url( "../icons/aldebron/forward.png" );
}*/

a {
    outline:0px; 
}

/* Link colour */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #E2E2E2;
}

/* Link hover colour */
a:hover, a:hover * {
    text-decoration: underline;
    color: #E2E2E2;
}

/* Colour for warning messages. */
.warning {
    color: #e7238b;
}

label, p {
    color: #CCC;
}

/*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.4);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(18, 18, 18, 0.2);
}
*/